* {
margin: 0;
padding: 0;
font-family: helvetica;
box-sizing: border-box;
text-shadow: none 1px 1px;
}

.App {
display: flex;
justify-content:center;
align-items: center;
background-color:#F5F5F5;
height: 740px;
width: 360px;
max-width: 360px;
max-height: 740px;
}